.copy-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.MuiTypography-root{
  font-size: 1.1em !important;
}
#needcenter{
  display: flex;
  justify-content: center;
  align-items: center;
}
#needcenter > button:first-child{
  width: 20%;
  padding: 0.5em;
}
.MuiAccordionSummary-root:not(.Mui-expanded) {
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);

}