.copy-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.MuiTypography-root{
  font-size: 1.1em !important;
}
#needcenter{
  display: flex;
  justify-content: center;
  align-items: center;
}
#needcenter > button:first-child{
  width: 20%;
  padding: 0.5em;
}