.copy-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.MuiTypography-root{
  font-size: 1.1em !important;
}
